body{
    text-align: center;
    background-color:aqua ;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
img{
    width: 570px;
    height: auto;
}
a{
    font-size: 40px;
}